@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("_assets/images/background.webp");
  background-position: 45% 0%;
}

a:hover {
  @apply text-[#16a3ce];
}

input {
  @apply border-b-[3px] border-[#ebeaea];
}

input::placeholder {
  @apply italic text-[#b1b1b1];
}


input[type="email"] {
  padding-left:40px;
  background: url("_assets/images/profile.png") no-repeat 1px -0.5px;
  background-size: 18px;
}

input[type="password"] {
  padding-left:40px;
  background: url("_assets/images/lock.png") no-repeat 1px -0.5px;
  background-size: 20px;
}

input[name="role"] {
  padding-left:40px;
  background: url("_assets/images/role.png") no-repeat 1px -0.5px;
  background-size: 20px;
}

.formErrors {
  @apply font-light text-[12px] text-red-600 text-center;
  margin: 0 !important; 
}